.navbar-brand {
    color: floralwhite;
}
.card {
    margin: auto;
    width: 250px;
    height: 250px;
}
#map {
    border-radius: 10px;
    border: 3px solid black;
    margin: auto;
}
img {
    width: 3vw;
    height: 5vh;
}
.card {
    height: 250px;
}
body {
    background: black;
}
label {
    color: floralwhite;
}